@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "customTheme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-primary: #d71920;
  --color-secondary: #004a9b;
  --color-accent: #ffffff;
  --color-neutral: #1e293b;
  --color-base-100: #f3f4f6;
  --color-base-200: #e5e7eb;
  --color-info: #3abff8;
  --color-success: #36d399;
  --color-warning: #fbbd23;
  --color-error: #f87272;

  --color-primary-content: #ffffff;
  --color-secondary-content: #ffffff;
  --color-accent-content: #000000;
  --color-neutral-content: #ffffff;
  --color-info-content: #000000;
  --color-success-content: #000000;
  --color-warning-content: #000000;
  --color-error-content: #ffffff;

  --radius-box: 0.5rem;
  --size-field: 0.25rem;
  --border: 1px;
}

